<div class="flex-container">
 <div class="asi">
        <h2><strong><em>Noticias Destacadas</em></strong></h2>
            
            <div>
               <a href="https://www.elespectador.com/deportes/mundial-de-qatar-2022/qatar-2022-
               argentina-vs-mexico-ver-en-vivo-el-minuto-a-minuto-del-partido-messi/"><h4>Argentina le gana a Mexico 2-0</h4></a> 
                   <p  class="lead">Argentina le gana Mexico en un duelo muy cerrado que se decidio con 2 golazos a favor de la ambiceleste.</p>
                    <div class="imge">
                        <a href="https://www.elespectador.com/deportes/mundial-de-qatar-2022/qatar-2022-argentina-vs-mexico-ver-en-vivo-el-minuto-a-minuto-del-partido-messi/">
                            <img src="https://library.sportingnews.com/styles/crop_style_16_9_mobile_2x/s3/2022-11/lionel-messi-argentina-world-cup.jpg?itok=gvCVosm6">
                        </a>
                    </div>
            </div>    
            <div style="margin-top: 10px;">
                <a href="https://www.infobae.com/deportes/2022/11/25/qatar-es-el-primer-eliminado-del-mundial/"><h4>Qatar la primera eliminada del mundial!</h4></a>
                <p class="lead">
                    El afintrion del mundial no pudo pasar 
                    de fase de grupos a pesar de haber invertido grandes
                    cantidades de dinero para poder hacerse con la cita mas grande,
                    del deporte mundial, para algunos una justicia divina luego del mal trato a sus obreros y 
                    exageradas reglas y costumbres que quieren imponer
                </p>      
                <a href="https://www.infobae.com/deportes/2022/11/25/qatar-es-el-primer-eliminado-del-mundial/">
                    <img src="https://www.semana.com/resizer/qbVKLs6yo9zzumldsEWgbe0RSEg=/1280x0/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/ASKCMV24TNFKXLSBSFDE5MQAEU.jpg">
                </a>
            </div>
 </div>